<header class='partials'>
    <!-- header-banner -->
    <div id="header-banner" class="demo-2">
        <div class="banner-content text-center">
            <div class="banner-info">
              <blockquote>A compilation of thoughts
                captured in eternity.
                A taste of the Ego.</blockquote>
            </div><!-- / banner-info -->
        </div><!-- / banner-content -->
    </div>
    <!-- / header-banner -->
</header>
<!-- / header -->
<div class="mobile-header">
  <img src="/images/art-hero-explicit.jpg" alt="Broll album art">
</div>
<!-- content -->

<!-- portfolio section -->
<section id="portfolio">
    <div class="container">
        <ul class="row portfolio list-unstyled lightbox" id="grid">
            <!-- project -->
            <li class="col-xs-4 col-md-4 project" data-groups='["web-application"]'>
                <div class="links">
                  <a href="#/track"><span>Track List</span></a>
                </div>
            </li>
            <!-- / project -->

            <!-- project -->
            <li class="col-xs-4 col-md-4 project" data-groups='["logo-design"]'>
                <div class="links">
                    <!-- / project-link -->
                    <!-- <img src="images/1200x900/LE.jpg" alt=""> -->
                    <!-- / project-image -->
                    <a href="#"><span>Lyrics</span></a>
                </div><!-- / img-bg-color -->
            </li>
            <!-- / project -->

            <!-- project -->
            <li class="col-xs-4 col-md-4 project" data-groups='["illustration", "logo-design", "branding"]'>
              <div class="links">
                <a href="#/contact"><span>Blog</span></a>
              </div>
            </li>
            <!-- / project -->

            <!-- sizer -->
            <li class="col-xs-6 col-md-4 shuffle_sizer"></li>
        </ul> <!-- / projects -->

    </div><!-- / container -->

</section>
<!-- / portfolio section -->
