/* Footers */

footer {
  background: $body-bg;
  padding: 20px 0;
  height: 100px !important;
}

footer.dark {
  border-top: 1px solid $black;
}

.footer-info {
  padding: 0 15px;
}

footer p {
  // color: $title-color;
  color: white;
  font-size: 14px;
  font-weight: $bold;
  margin-bottom: 0;
}

footer.dark p {
  color: $white;
}

footer .social a {
  font-size: 14px;
}

/* End Footers */
